/*******

COMMON

*******/

.title-icon {
    font-family: "Calibri", "Arial", sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: #707070
}

.font-primary {
    color: #F99DC6;
}

.nav-item {
    font-size: 18px;
    color: #707070;
}

p {
    font-size: 16px;
}

h2 {
    color: #707070;
    font-size: 30px;
    font-weight: bold;
    font-family: "Calibri", "Arial", sans-serif;
    margin-bottom: 20px;
}

/*******

ABOUT

*******/

#about {
    padding: 0px 50px;
    margin: 60px auto;
    max-width: 600px;
    text-align: center;
} 

#about img {
    border-radius: 50%;
    width: 120px;
    margin-bottom: 20px;
}

#about .name {
    font-size: 21px;
    font-weight: bold;
}

#about .vocation {
    font-size: 18px;
    color: #707070;
    margin-bottom: 20px;
}

#about .skills {
    font-size: 16px;
    color: #F99DC6;
    margin-bottom: 20px;
}

#about .email {
    margin-top: 20px;
    font-size: 16px;
}

#about .icons {
    margin-top: 20px;
    font-size: 28px;
}

#about .icons a {
    color: #000;
}

/*******

PROJECTS

*******/

#projects {
    padding: 0px 50px;
    margin: 60px auto;
    text-align: center;
}

#projects .card {
    text-align: left;
    border: 1px solid #707070 !important;
}

#projects .card img {
    width: 100%;
    border: 1px solid #707070;
}

#projects .card-title {
    font-weight: bold;
    font-family: "Calibri", "Arial", sans-serif;
    font-size: 26px;
}

#projects .card-subtitle {
    font-size: 16px;
    margin-bottom: 20px;
}

#projects .card-login {
    font-weight: bold;
    font-size: 16px;
}

#projects .card-info {
    font-size: 16px;
    color: #707070;
    margin-bottom: 25px;
}

#projects .website {
    background-color: #707070;
}

#projects .github {
    background-color: #212529;
}

/*******

Certifications

*******/

#certifications {
    padding: 0px 50px;
    margin: 60px auto;
    text-align: center;
}


#certifications .card {
    text-align: center;
    border: 1px solid #707070 !important;
}

#certifications .card img {
    width: 100%;
    border: 1px solid #707070;
}

#certifications .card-title {
    font-weight: bold;
    font-family: "Calibri", "Arial", sans-serif;
    font-size: 26px;
}

#certifications .card-subtitle {
    font-size: 16px;
    margin-bottom: 20px;
}

#certifications .card-login {
    font-weight: bold;
    font-size: 16px;
}

#certifications .card-info {
    font-size: 16px;
    color: #707070;
    margin-bottom: 25px;
}






/*******

MINE


.nav-item {
    size: 28px;
    color: #707070
}

.name {
    size: 28px;
    font-weight: bold;
    color: #000
}

.languages {
    font-size: 25px;
    color: #f99dc6;
}

.description .email {
    font-size: 22px;
    color: #000
}



FONTS
TwitterClone NETFLIXClone {
    font-family: "Calibri" "Arial";
}
Body Buttons {
    font-family: "Century Gothic" "Lucida Grande" lucida console;
}

SIZES and weights
abouth1 projectsh1 {
    50 bold
}
jobtitle {
    30
}
projectnames {
    45 bold
}
projectdescription {
    28
}
logintitle {
    28 bold
}
login {
    26
}
buttontext {
    35
}

COLORS
P-H1 {
    color: #f99dc6;
}
rojects-H1 jobtitle logininfos button1s {
projectsboxborder
    color: #707070
}
button2s {
    color: #212529
}
projectheading projdescription {
    color: #000000
}
buttontext {
    color: #ffffff
} */
