/*******

COMMON

*******/

body {
    font-family: "Century Gothic", "Lucida Grande", "Lucida Console", sans-serif;
}

.title-icon {
    font-family: "Calibri", "Arial", sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: #707070
}

.font-primary {
    color: #F99DC6;
}

.nav-item {
    font-size: 17px;
    color: #707070;
}

p {
    font-size: 13px;
}

h2 {
    color: #707070;
    font-size: 30px;
    font-weight: bold;
    font-family: "Calibri", "Arial", sans-serif;
    margin-bottom: 20px;
}

/*******

ABOUT

*******/

#about {
    padding: 0px 50px;
    margin: 60px auto;
    max-width: 600px;
    text-align: center;
} 

#about img {
    border-radius: 50%;
    width: 120px;
    margin-bottom: 20px;
}

#about .name {
    font-size: 20px;
    font-weight: bold;
}

#about .vocation {
    font-size: 17px;
    color: #707070;
    margin-bottom: 20px;
}

#about .skills {
    font-size: 13px;
    color: #F99DC6;
    margin-bottom: 20px;
}

#about .email {
    margin-top: 20px;
    font-size: 13px;
}

#about .icons {
    font-size: 24px;
}

#about .icons a {
    color: #000;
}

/*******

PROJECTS

*******/

#projects {
    padding: 0px 50px;
    margin: 60px auto;
    text-align: center;
}

#projects .card {
    text-align: left;
}

#projects .card-title {
    font-weight: bold;
}








/*******

MINE


.nav-item {
    size: 28px;
    color: #707070
}

.name {
    size: 28px;
    font-weight: bold;
    color: #000
}

.languages {
    font-size: 25px;
    color: #f99dc6;
}

.description .email {
    font-size: 22px;
    color: #000
}



FONTS
TwitterClone NETFLIXClone {
    font-family: "Calibri" "Arial";
}
Body Buttons {
    font-family: "Century Gothic" "Lucida Grande" lucida console;
}

SIZES and weights
abouth1 projectsh1 {
    50 bold
}
jobtitle {
    30
}
projectnames {
    45 bold
}
projectdescription {
    28
}
logintitle {
    28 bold
}
login {
    26
}
buttontext {
    35
}

COLORS
P-H1 {
    color: #f99dc6;
}
rojects-H1 jobtitle logininfos button1s {
projectsboxborder
    color: #707070
}
button2s {
    color: #212529
}
projectheading projdescription {
    color: #000000
}
buttontext {
    color: #ffffff
} */